<div class="fixd-top navbar-lewagon topnav" id="myTopnav">
<!--   <div class="container-fluid"> -->
    <%= link_to "/", id: "nav-logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <% if current_page?('/pieces')%>
      <div class="navbar-pieces">
        <ul class="navlist">
          <li class="nav-itm">
            <%= link_to t('index.kinetic'), 'pieces?collection=Kinetic', class: "nav-lnk active" %>
          </li>
          <li class="nav-itm">
            <%= link_to t('index.sculptur'), 'pieces?collection=Sculptur', class: "nav-lnk" %>
          </li>
          <li class="nav-itm">
            <%= link_to t('index.drawing'), 'pieces?collection=Drawing', class: "nav-lnk" %>
          </li>
          <li class="nav-itm">
            <%= link_to t('index.photo'), 'pieces?collection=Photo', class: "nav-lnk" %>
          </li>
          <li class="nav-itm">
            <%= link_to t('index.animation'), 'pieces?collection=Animation', class: "nav-lnk" %>
          </li>
          <li class="nav-itm">
            <%= link_to t('index.video'), 'pieces?collection=Video', class: "nav-lnk" %>
          </li>
          <li class="nav-itm">
            <%= link_to t('index.all'), 'pieces', class: "nav-lnk" %>
          </li>
        </ul>
      </div>
    <% end %>

    <% if current_page?('/contact')%>
      <div class="navbar-contact">
        <ul class="navlist">
          <li class="nav-itm">
            <a href="#contact" class="nav-lnk active"><%= t('contact.titles.contact') %></a>
          </li>
          <li class="nav-itm">
            <a href="#biography" class="nav-lnk"><%= t('contact.titles.bio') %></a>
          </li>
          <li class="nav-itm">
            <a href="#texts" class="nav-lnk"><%= t('contact.titles.texts') %></a>
          </li>
        </ul>
      </div>
    <% end %>

    <div>
      <ul class="navlist">
        <li class="nav-itm">
          <%= link_to t('navbar.work'), pieces_path, class: "nav-lnk active" %>
        </li>
        <li class="nav-itm">
          <%= link_to t('navbar.contact'), contact_path, class: "nav-lnk" %>
        </li>
        <!-- <li class="nav-itm"> -->
          <%# if I18n.locale == I18n.default_locale %>
            <%#= link_to "🇫🇷", { :locale=>'fr' }, class: "nav-lnk" %>
          <%# else %>
            <%#= link_to "🇬🇧", { :locale=>'en' }, class: "nav-lnk" %>
          <%# end %>
        <!-- </li> -->
        <% if user_signed_in? %>
          <li class="nav-itm">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-lnk" %>
          </li>
        <% end %>
      </ul>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
<!--   </div> -->
</div>



<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
