<div class="container">
  <h1>Here, all pieces of RV</h1>

  <div class="cards">
    <% @pieces.each do |piece| %>
      <div class="card">
        <% if piece.category == "Kinetics" %>
        <%= youtube_video piece.image %>
        <% else %>
          <% if piece.photo.url.nil? %>
            <%= image_tag piece.image, width: 300 %>
          <% else %>
            <%= cl_image_tag piece.photo, width: 300 %>
          <% end %>
        <% end %>
        <p><%= piece.name %> - <%= piece.year %> - <%= piece.description %></p>
        <p><%= piece.collection %> - <%= piece.dimensions %></p>
      </div>
    <% end %>
  </div>

</div>
