<div class="container plus-navbar">
<!--   <h1 class="text-center">Here, all pieces of RV</h1> -->

  <div class="my-cards">
<!--     <%= image_tag "film.gif" %> -->
    <% @pieces.each do |piece| %>
      <div class="my-card">
        <% if piece.category == "Kinetics" %>
        <div class="">
          <%#= youtube_video piece.image "https://www.youtube.com/watch?v=9PhhMhKAF2o" %>
          <%= link_to "https://www.youtube.com/watch?v=#{piece.youtube}", target: "_blank" do %>
            <%= image_tag piece.image, class: "my-card-image" %>
          <% end %>
          <!-- <p>videoooo</p> -->
        </div>
        <% else %>
          <!-- <div class=""> -->
            <% if piece.photo.nil? || piece.photo.url.nil? %>
              <%= image_tag piece.image, class: "my-card-image" %>
            <% else %>
              <%= cl_image_tag piece.photo, class: "my-card-image" %>
            <% end %>
          <!-- </div> -->
        <% end %>
        <div class="my-card-details">
          <p>
            <%= piece.name %><% unless piece.year == "" || piece.year.nil? || piece.year == "." %> - <%= piece.year %> <% end %>
            <% unless piece.description == "" || piece.description.nil? || piece.description == "." %><br><%= piece.description %><% end %>
            <br>
            <%= piece.collection %> <% unless piece.dimensions == "" || piece.dimensions.nil? || piece.dimensions == "." %> - <%= piece.dimensions %> <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
