<div class="container">
  <h1>Here, all pieces of RV</h1>

  <div class="cards">
    <% @pieces.each do |piece| %>
      <div class="card">
        <p>
          Name : <%= piece.name %>
          Description : <%= piece.description %>
          Dimensions : <%= piece.dimensions %>
          Year : <%= piece.year %>
          Category : <%= piece.category %>
          Collection : <%= piece.collection %>
        </p>
        <% if piece.category == "Kinetics" %>
          <%= video_tag "#{piece.image}", controls: true, size: 300 %>
        <% else %>
          <%= image_tag piece.image, size: 300 %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
