<div class="container plus-navbar">
<!--   <h1 class="text-center">Here, all pieces of RV</h1> -->

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfbhkicfg/image/upload/v1566825554/collectionKinetic_soifrx.png)"> <%= t('index.kinetic') %>
      <a href=""><%= link_to "", 'pieces?collection=Kinetic' %></a>
    </div>
    <div class="card-category" style="background-image: url(https://res.cloudinary.com/dfbhkicfg/image/upload/v1566824687/8_zargx1.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"><%= t('index.sculptur') %>
      <a href=""><%= link_to "", 'pieces?collection=Sculptur' %></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfbhkicfg/image/upload/v1566824657/Dessin1971_wb0nij.jpg)"><%= t('index.drawing') %>
      <a href=""><%= link_to "", 'pieces?collection=Drawing' %></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfbhkicfg/image/upload/v1566824693/ciel-cotoneux-2005--Perou_hki9ma.jpg)"><%= t('index.photo') %>
      <a href=""><%= link_to "", 'pieces?collection=Photo' %></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfbhkicfg/image/upload/v1566825259/collectionAnimation_vas4ew.png)"><%= t('index.animation') %>
      <a href=""><%= link_to "", 'pieces?collection=Animation' %></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfbhkicfg/image/upload/v1566825557/collectionVideo_nof3e7.png)"><%= t('index.video') %>
      <a href=""><%= link_to "", 'pieces?collection=Video' %></a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="cards">
    <% @pieces.each do |piece| %>
      <div class="card">
        <% if piece.category == "Kinetics" %>
        <div class="card-image">
          <%= youtube_video piece.image %>
        </div>
        <% else %>
          <div class="">
            <% if piece.photo.nil? || piece.photo.url.nil? %>
              <%= image_tag piece.image, class: "card-image" %>
            <% else %>
              <%= cl_image_tag piece.photo, class: "card-image" %>
            <% end %>
          </div>
        <% end %>
        <div class="card-details">
          <p>
            <%= piece.name %><% unless piece.year == "" || piece.year.nil? || piece.year == "." %> - <%= piece.year %> <% end %>
            <% unless piece.description == "" || piece.description.nil? || piece.description == "." %><br><%= piece.description %><% end %>
            <br>
            <%= piece.collection %> <% unless piece.dimensions == "" || piece.dimensions.nil? || piece.dimensions == "." %> - <%= piece.dimensions %> <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
