<div class="container plus-navbar">
  <ul class="list-inline tabs-underlined" id="top">
    <li>
      <a href="#contact" class="tab-underlined active"><%= t('contact.titles.contact') %></a>
    </li>
    <li>
      <a href="#texts" class="tab-underlined"><%= t('contact.titles.texts') %></a>
    </li>
    <li>
      <a href="#biography" class="tab-underlined"><%= t('contact.titles.bio') %></a>
    </li>
  </ul>

  <div class="section">
  <h5><a id="contact"></a><%= t('contact.titles.contact') %></h5>
    <div class="text-pack two-columns">
      <em id="rv"><%= t('contact.contact-name') %></em>
      <p><%= t('contact.contact-infos_html') %></p>
    </div>
  </div>

  <div class="section">
    <h5><a id="texts"></a><%= t('contact.titles.texts') %></h5>
    <div class="text-pack">
      <h6><%= t('contact.firsttext.title') %></h6>
      <p><%= t('contact.firsttext.text_html') %></p>
      <p><%= t('contact.firsttext.signature') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.secondtext.title') %></h6>
      <p><%= t('contact.secondtext.text_html') %></p>
      <p><%= t('contact.secondtext.signature') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.thirdtext.title') %></h6>
      <p><%= t('contact.thirdtext.text_html') %></p>
      <p><%= t('contact.thirdtext.signature') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.fourthtext.title') %></h6>
      <p><%= t('contact.fourthtext.text_html') %></p>
      <p><%= t('contact.fourthtext.signature') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.fifthtext.title') %></h6>
      <p><%= t('contact.fifthtext.text_html') %></p>
      <p><%= t('contact.fifthtext.signature') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.sixthtext.title') %></h6>
      <p><%= t('contact.sixthtext.text_html') %></p>
      <p><%= t('contact.sixthtext.signature') %></p>
    </div>
  </div>

  <div class="section">
    <h5><a id="biography"></a><%= t('contact.titles.bio') %></h5>
    <% if user_signed_in? %>
      <div class="edit-button">
        <button id="edit-button">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
    <% end %>
    <div class="send hidden">
      <!-- activation apres edit button -->
    </div>

    <div class="text-pack">
      <p><%= t('contact.biography_html') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.collections') %></h6>
      <p class="two-columns edit-place"><%= t('contact.collections-details_html') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.rewards') %></h6>
      <p class="two-columns edit-place"><%= t('contact.rewards-details_html') %> </p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.solo-shows') %></h6>
      <p class="two-columns edit-place"><%= t('contact.shows-details_html') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.group-exhibitions') %></h6>
      <p class="two-columns edit-place"><%= t('contact.exihibitions-details_html') %></p>
    </div>
    <div class="text-pack">
      <h6><%= t('contact.biblio') %></h6>
      <p><%= t('contact.bib-sous-titre') %></p>
      <p class="two-columns edit-place"><%= t('contact.bib-details_html') %></p>
    </div>
    <div class="send hidden">
      <!-- activation apres edit button -->
    </div>
    <br>
    <br>
    <div class="text-center">
      <a href="#top"><i class="fas fa-arrow-up"></i></a>
    </div>
    <br>
  </div>
</div>

